<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Delete Tamagotchi Pet</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>  <!-- Why does this css mapping work???? -->
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <h2>Your Tamagotchi is Vaped!</h2>

          <form action='/'>
            <button type='submit' class='btn btn-sm' autofocus>go back home</button>
          </form>

        </div>  <!-- .col-md-6 -->
      </div>  <!-- .row -->

    </div>  <!-- .container -->

  </body>
</html>
